<html>
<head> 
<meta charset="UTF-8">
    <title>Portfolio</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>Portofolios Website</h1>      
    <p>This Website is designated for MET and BI GUC students either seniors or post-graduates to upload their Work on it.</p>
  </div>  
</div>